body {
  margin: 60px auto;
  width:70%;
}

nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-family: 'Lobster', cursive;
}

nav ul li, footer ul, li {
  display: inline;
  margin-right: 20px;
  font-size: 1.5em;
  list-style: none;
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
  color: #F6546A;
}

a:hover {
  text-decoration: underline;
  color: #FFF68F;
}
