body {
  margin: 60px auto;
  width:70%;
}

nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-family: 'Lobster', cursive;
}

nav ul li, footer ul, li {
  display: inline;
  margin-right: 20px;
  font-size: 2em;
  list-style: none;
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
  color: #F08080;
}

a:hover {
  text-decoration: none;
  color: #66CDAA;
}

p.site-title {
  font-size: 5em;
  color: #999;
  margin: auto;
  text-align: center;
}

container {
  
}

h1.page-title {

}

p.meta {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

div.nav {
  text-align: center;
  margin: auto;
}

div.post {

}

div.post-footer {

}

span.datestring {

}
