body {
  margin: 60px auto;
  width:70%;
}

nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-family: 'Lobster', cursive;
}

nav ul li, footer ul, li {
  display: inline;
  margin-right: 20px;
  font-size: 2em;
  list-style: none;
  font-family: 'Lobster', cursive;
}

ul.posts {
  text-align: center;
}

a {
  text-decoration: none;
  color: #F08080;
}

a:hover {
  text-decoration: none;
  color: #66CDAA;
}

a.post-title {
  color: #F08080;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
}

a.post-title:hover {
  text-decoration: none;
  color: #66CDAA;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
}

p.site-title {
  font-size: 5em;
  color: #999;
  margin: auto;
  text-align: center;
}

p.meta {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1.page-title {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  font-color: #66CDAA;
  padding: 20px;
  text-align: center;
}

span.datestring {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.75em;
  font-color: #66CDAA;
}

div.nav {
  text-align: center;
  margin: auto;
}

div.post {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-color: #66CDAA;
}
