<!DOCTYPE html>
  <html>
      <head>
        <link rel="stylesheet" type="text/css" href="/cooking-app/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      </head>
      
      <body>
        <div>
          <p class="site-title" itemprop="headline">
            <a href="https://www.czupil.com/cooking-app">Cooking App</a>
          </p>
            <div>
              <nav>
                <ul>
                  <li><a href="/cooking-app">Home</a></li>
                  <li><a href="/cooking-app/recipes">Recipes</a></li>
                  <li><a href="/cooking-app/pantry">My Ingredients</a></li>
                  <li><a href="/cooking-app/blog">Blog</a></li>
                  <li><a href="/cooking-app/about">About</a></li>
                  <li><a href="/cooking-app/login">Log In</a></li>
                </ul>
              </nav>
            </div>
          </div>
       
        
            <div class="container">
              
              {{ content }}
              
            </div>
        
        <footer>
        </footer>
        
      </body>
  </html>    
