<!DOCTYPE html>
  <html>
      <head>
        <link rel="stylesheet" type="text/css" href="/PantryDash/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
      </head>
      
      <body>
        <header class="site-header">
          <div>
            <p class="site-title" itemprop="headline">
              <a href="https://www.czupil.com/PantryDash">PantryDash</a>
            </p>
          </div>
        </header>
           <div class="nav">
             <nav>
               <ul>
                 <li><a href="/PantryDash">Home</a></li>
                 <li><a href="/PantryDash/recipes">Recipes</a></li>
                 <li><a href="/PantryDash/pantry">My Ingredients</a></li>
                 <li><a href="/PantryDash/blog">Blog</a></li>
                 <li><a href="/PantryDash/about">About</a></li>
                 <li><a href="/PantryDash/login">Log In</a></li>
               </ul>
             </nav>
          </div>
       
        
            <div class="container">
              
              {{ content }}
              
            </div>
        
        <footer>
        </footer>
        
      </body>
  </html>    
